{% extends "base2.html" %}

{% block title %} Contato {% endblock %}

{% block content %}
<h1> Contato </h1>
<form action="">
    <label for="nome"> Nome: </label>
    <input type="text" name="nome" id="nome" required>
    <br>
    <label for="email"> Email: </label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="mensagem"> Mensagem: </label>
    <textarea name="mensagem" id="mensagem" required></textarea>
    <br>
    <button type="submit"> Enviar </button>
</form>
{% endblock %}