{% extends "base2.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <h1> Home </h1>
    <div class="content">
        <img src="https://aventurasnahistoria.com.br/media/_versions/baralhomdmdm_widelg.png">
        <p> 
            <strong> Bem-vindo a Loja MesaGames. </strong> 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam odio, fugiat impedit veritatis commodi tempora consequatur at accusamus modi ipsum sit eum optio aperiam alias libero doloribus enim minus. Rem.
        </p>
    </div>
{% endblock %}