{% extends "base1.html" %}

{% block title %} Como utilizar {% endblock %}

{% block content %}
    <h1> Como utilizar </h1>
    <p> 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam odio, fugiat impedit veritatis commodi tempora consequatur at accusamus modi ipsum sit eum optio aperiam alias libero doloribus enim minus. Rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime iure dolore maiores rem atque distinctio veniam cumque unde, autem labore ipsa fugiat mollitia! Ipsa sunt sapiente velit quia sed?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis vel obcaecati iure nemo ullam minus repudiandae odit iste. Iusto veniam mollitia ullam qui nemo quam ratione quod error provident hic?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum harum, optio est nobis nihil aut beatae quibusdam nam, illum a vel rem? Temporibus assumenda ipsa eos cum tenetur eligendi rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum vitae ullam eligendi facere? Corrupti cumque nulla nemo sit expedita eveniet error vero rem dolore, optio molestias aspernatur ea a!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas saepe velit iste labore facere dignissimos aut esse, atque ipsam totam amet ipsum repellat illum fuga optio soluta itaque facilis iusto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sint eligendi repellendus modi sapiente architecto esse non libero consectetur eum. Laborum facilis esse fugit commodi aperiam eveniet voluptas voluptatum tenetur!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis eligendi quod nobis ea impedit aliquam nemo, praesentium, facilis perspiciatis, sed facere eveniet blanditiis sapiente animi consectetur repudiandae sunt amet ad!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero maiores quasi voluptas minima corporis necessitatibus obcaecati numquam consequuntur a, quidem beatae aperiam, nostrum explicabo dolor sapiente atque ipsa ad. Laboriosam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore provident in perferendis commodi, at culpa soluta doloremque nihil libero, ipsum quia et cum. Enim voluptate repudiandae, ea alias sequi illo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum, delectus ab harum impedit repellat cumque placeat veritatis non neque voluptate! Maiores harum consectetur expedita id laboriosam rem neque asperiores!
    </p>
{% endblock %}